version: 2.1

orbs:
  go: circleci/go@3.0.3
  docker: circleci/docker@3.0.1

jobs:
  build-test:
    docker:
      - image: cimg/go:1.22 # Using CircleCI's convenience image
    steps:
      - checkout
      - go/load-cache # Restores dependencies if they haven't changed
      - run:
          name: Install dependencies
          command: go mod download
      - go/save-cache
      - run:
          name: Build Binary
          command: go build -o demo-api main.go
          # Secret environment variables are managed in CircleCI Project Settings
      - run:
          name: Run Unit Tests
          command: go test -v ./...

  docker-build-push:
    executor: docker/docker
    steps:
      - checkout
      - setup_remote_docker # Required for building images within a job
      - docker/check:
          registry: docker.io
      - docker/build:
          image: $DOCKER_USERNAME/demo-api-app
          tag: $CIRCLE_SHA1
      - docker/push:
          image: $DOCKER_USERNAME/demo-api-app
          tag: $CIRCLE_SHA1

workflows:
  demo-api-workflow:
    jobs:
      - build-test:
          filters:
            branches:
              only: main
      - docker-build-push:
          requires:
            - build-test
          filters:
            branches:
              only: main